.log{
    height: 130px;
    width: 150px;
    margin-left: 20px;
    
}
#lista1 li {
    display:inline;
    padding-left:30px;
    padding-right: 30px;
   background-color:rgb(241, 144, 7);
}
a {
   color:white;
   text-decoration:none;
}
a:hover {
   color:black;
   background-color:rgb(0, 160, 48);
}
.separador {
    color:gray;
}
#barra{
    background-color: #07b047;
    height: 140px;
    width: 1920px;
    margin-left: -20px;
    margin-top: -10px;


}
#Titulo{
    color: white;
    background-color: #ff9301;
    height: 40px;
    width: 1920px;
    margin-top: 0px;
    margin-left: -10px;
}
body{
    text-align: center;
    background-color: #b3dfed;
    margin-left: 10px;
}
.menu{
    
}
.escudotext{
background-color: orange;
width: 400px;
}
.fondo{
    font-family: 'Oswald', sans-serif;
}
